/autom4te.cache/
/build-aux/
/config.h.in
/config.h
/config.log
/config.status
/stamp-h1
/config.cache
/aclocal.m4
/m4/libtool.m4
/m4/lt*.m4
configure
Makefile
Makefile.in
.deps/
*.o
libtool

# pyenv
.python-version

# PyInstaller
/bin/
/build/
/scripts/build
/scripts/dist

# emacs
*~
*.json
*.xlsx
*.ign/
