asn1crypto==1.5.1
cached-property==1.5.2
cycler==0.12.1
Cython==3.0.9
fonttools==4.49.0
kiwisolver==1.4.5
matplotlib==3.7.5
numpy==1.24.4
openpyxl==3.1.2
packaging==24.0
pandas==2.0.3
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-pkcs11==0.7.0
pytz==2024.1
scipy==1.10.1
setuptools-scm==8.0.4
six==1.16.0
tomli==2.0.1
XlsxWriter==3.2.0
altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
colorclass==2.2.2
contourpy==1.1.1
docopt==0.6.2
et-xmlfile==1.1.0
idna==3.6
importlib_metadata==7.0.2
importlib_resources==6.3.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
requests==2.31.0
terminaltables==3.1.10
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
zipp==3.18.1
